body {
    margin: 0;
}

.header {
    height: 12vh;
    display: flex;
    background-color: rgba(95,121,149,1)
}

.header a {
    margin: auto;
}

.header img {
    max-height: 10vh;
    filter: invert(100%);
    margin: auto;
    padding: 1vh;
}

.main {
    height: 80vh;
}

.footer {
    height: 8vh;
    display: flex;
}

.footer p {
    margin: auto;
}

.budget {
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    margin: auto;
}

.budget button {
    margin: auto;
}

.budget .budget-item {
    display: flex;
    justify-content: space-between;
    padding: .5vh 1vw;
}

.budget .budget-item input {
    border-radius: .8em;
}

.budget .budget-total {
    display: flex;
    justify-content: space-between;
    padding: .5vh 1vw;
    border-top: .1em solid #eee;
}